In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Emision.csv',sep=';',engine='python')
df

,Entidad,Marca,Tipo de Vehiculo,Forma de Venta,Cobertura,Subtipo de Seguro,Deducible,Numero de Vehiculos,Prima Emitida,Prima Cedida,Prima Devengada,Comision Directa,Suma Asegurada,Prima Devengada Acumulada
0,N/D,N/D,1,N/D,1,N/D,0,250,40756.50,0.00,0.00,12444,0.0,40795
1,N/D,N/D,1,N/D,1,N/D,1,232,120337.27,0.00,0.00,38583,0.0,120340
2,N/D,N/D,1,N/D,1,N/D,2,516,152104.14,0.00,0.00,59007,0.0,152096
3,N/D,N/D,1,N/D,1,N/D,3,555,175783.33,0.00,0.00,56255,0.0,175787
4,N/D,N/D,1,N/D,1,N/D,4,354,96324.72,0.00,0.00,31654,0.0,96328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,12,0814,1,05,2,0,5,1,2894.90,0.00,2228.68,0,0.0,2229
1048571,12,0814,1,05,2,0,10,103,-41532.36,0.00,119653.31,-686,0.0,167815
1048572,12,0814,1,05,3,0,0,1,278.35,278.35,0.00,0,50000.0,0
1048573,12,0814,1,05,4,0,0,1,73.11,73.11,0.00,0,100000.0,0
1048574,12,0814,1,05,5,0,0,105,-10357.66,426.50,41125.10,-329,137600000.0,57742

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Entidad                    1048575 non-null  object
 1   Marca                      1048575 non-null  object
 2   Tipo de Vehiculo           1048575 non-null  int64
 3   Forma de Venta             1048575 non-null  object
 4   Cobertura                  1048575 non-null  int64
 5   Subtipo de Seguro          1048575 non-null  object
 6   Deducible                  1048575 non-null  int64
 7   Numero de Vehiculos        1048575 non-null  int64
 8   Prima Emitida              1048575 non-null  float64
 9   Prima Cedida               1048575 non-null  float64
 10  Prima Devengada            1048575 non-null  float64
 11  Comision Directa           1048575 non-null  int64
 12  Suma Asegurada             1048575 non-null  float64
 13  Prima Devengada Acumulada  1048575 non-null  int64
dtypes: float64(4), int64(6), object(4)
memory usage: 112.0+ MB

In [4]:
df.pop('Deducible')

0           0
1           1
2           2
3           3
4           4
           ..
1048570     5
1048571    10
1048572     0
1048573     0
1048574     0
Name: Deducible, Length: 1048575, dtype: int64

In [5]:
for i in list(df.columns):
    df.loc[df[i]=='N/D',i]=np.nan
df.head()

,Entidad,Marca,Tipo de Vehiculo,Forma de Venta,Cobertura,Subtipo de Seguro,Numero de Vehiculos,Prima Emitida,Prima Cedida,Prima Devengada,Comision Directa,Suma Asegurada,Prima Devengada Acumulada
0,NaN,NaN,1.0,NaN,1.0,NaN,250.0,40756.50,0.0,0.0,12444.0,0.0,40795.0
1,NaN,NaN,1.0,NaN,1.0,NaN,232.0,120337.27,0.0,0.0,38583.0,0.0,120340.0
2,NaN,NaN,1.0,NaN,1.0,NaN,516.0,152104.14,0.0,0.0,59007.0,0.0,152096.0
3,NaN,NaN,1.0,NaN,1.0,NaN,555.0,175783.33,0.0,0.0,56255.0,0.0,175787.0
4,NaN,NaN,1.0,NaN,1.0,NaN,354.0,96324.72,0.0,0.0,31654.0,0.0,96328.0

In [7]:
df.dropna(inplace=True)
df.head()

,Entidad,Marca,Tipo de Vehiculo,Forma de Venta,Cobertura,Subtipo de Seguro,Numero de Vehiculos,Prima Emitida,Prima Cedida,Prima Devengada,Comision Directa,Suma Asegurada,Prima Devengada Acumulada
123,01,0001,1.0,01,1.0,0,56.0,81029.21,0.0,72331.15,8105.0,0.0,98329.0
124,01,0001,1.0,01,1.0,0,225.0,200445.76,0.0,213527.42,20038.0,0.0,323049.0
125,01,0001,1.0,01,1.0,0,4.0,3667.70,0.0,6497.17,282.0,0.0,11940.0
126,01,0001,1.0,01,2.0,0,9.0,5583.87,0.0,3705.43,558.0,0.0,5203.0
127,01,0001,1.0,01,2.0,0,39.0,14776.44,0.0,21710.96,1479.0,0.0,33492.0

In [9]:
df[['Cobertura','Tipo de Vehiculo']]=df[['Cobertura','Tipo de Vehiculo']].astype(int)
df[['Cobertura','Tipo de Vehiculo','Entidad','Marca','Subtipo de Seguro']]=df[['Cobertura','Tipo de Vehiculo','Entidad','Marca','Subtipo de Seguro']].astype('category')

In [12]:
df

,Entidad,Marca,Tipo de Vehiculo,Forma de Venta,Cobertura,Subtipo de Seguro,Numero de Vehiculos,Prima Emitida,Prima Cedida,Prima Devengada,Comision Directa,Suma Asegurada,Prima Devengada Acumulada
123,01,0001,1,01,1,0,56.0,81029.21,0.00,72331.15,8105.0,0.0,98329.0
124,01,0001,1,01,1,0,225.0,200445.76,0.00,213527.42,20038.0,0.0,323049.0
125,01,0001,1,01,1,0,4.0,3667.70,0.00,6497.17,282.0,0.0,11940.0
126,01,0001,1,01,2,0,9.0,5583.87,0.00,3705.43,558.0,0.0,5203.0
127,01,0001,1,01,2,0,39.0,14776.44,0.00,21710.96,1479.0,0.0,33492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,12,0814,1,05,2,0,1.0,2894.90,0.00,2228.68,0.0,0.0,2229.0
1048571,12,0814,1,05,2,0,103.0,-41532.36,0.00,119653.31,-686.0,0.0,167815.0
1048572,12,0814,1,05,3,0,1.0,278.35,278.35,0.00,0.0,50000.0,0.0
1048573,12,0814,1,05,4,0,1.0,73.11,73.11,0.00,0.0,100000.0,0.0
1048574,12,0814,1,05,5,0,105.0,-10357.66,426.50,41125.10,-329.0,137600000.0,57742.0

En el primer renglón tenemos que el 56 pólizas estuvieron expuestas durante el periodo de reporte en Aguascalientes, de la marca General Motors del tipo CHEVELLE NOVA CAPRICE OPEL, las cuales se vendieron mediante agentes físicos con tipo de cobertura de Daños materiales. De este total se emitieron